*.class
*.log

# sbt specific
.bsp/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.idea

.bloop/

.vscode/

# Metals
.metals/
.bloop/
project/metals.sbt
metals.sbt

# BSP
.bsp/*
