name: Check

on:
  pull_request:

  push:
    branches:
      - 1.6.x # Check branch after merge

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-code-style:
    name: Code Style
    uses: playframework/.github/.github/workflows/cmd.yml@v3
    with:
      cmd: sbt validateCode

  check-binary-compatibility:
    name: Binary Compatibility
    uses: playframework/.github/.github/workflows/binary-check.yml@v4

  check-docs:
    name: Docs
    uses: playframework/.github/.github/workflows/cmd.yml@v3
    with:
      cmd: |
        cd docs
        sbt evaluateSbtFiles +validateDocs headerCheckAll +test

  tests:
    name: Tests
    needs:
      - "check-code-style"
      - "check-binary-compatibility"
      - "check-docs"
    uses: playframework/.github/.github/workflows/cmd.yml@v3
    with:
      java: 21, 17, 11
      scala: 2.12.x, 2.13.x, 3.x
      cmd: scripts/test-code.sh

  finish:
    name: Finish
    if: github.event_name == 'pull_request'
    needs: # Should be last
      - "tests"
    uses: playframework/.github/.github/workflows/rtm.yml@v3
